@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@300;500;700&display=swap");

:root {
  --color-principal: #00ff22;
  --color-hover: #00ff22;
  --color-secundario: #7a7a7a;
  --color-oscuro: #d3d3d3;
  --color-texto: #36454f;
  --color-white: #f5f5dc;
  --hover-color: #1e5155;
  --color-darkgray: #808080;
  --color-chocolate: #4b3621;
  --color-verde-oscuro: #00440a;
  --color-verde-medio: #008814;
  --color-verde-claro: #00cc1e;
  --color-verde-brillante: #00ff22;
  --color-verde-pastel: #66ff66;
  --fuente-principal: "Roboto", sans-serif;
  --fuente-Oswald: "Oswald", sans-serif;
  --fuente-Black: "Archivo Black", sans-serif;
}

a {
  color: unset;
}

body {
  background-color: black;
}
p {
  text-indent: 0.5cm;
}

table,
td,
th {
  border: 3px solid white;
  cursor: pointer;
  height: 80px;
  text-align: center;
}

tr {
  height: 80px;
  text-align: center;
}
table {
  background-attachment: fixed;
  /* background-image: url(./assets/img/bg-ficha.jpg); */
  background-color: var(--color-verde-oscuro);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
  font-size: 1em;
  text-shadow: 3px 3px 1px black;
}

td {
  text-align: center;
}
.modal{
  font-family: var(--fuente-Black);
  text-transform: uppercase;
  background-color: #000000a9;
  font-size: 2em;
}
.fa-x{
  cursor: pointer;
}
a {
  text-decoration: none!important;
}

.fa-bars{
  font-size: 2.5em!important;
  color:var(--color-secundario);
  position: relative;
  right: 15px;
  top: 1px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.fa-bars:hover{
  transition: 0.3s ease-out;
  color:var(--color-verde-brillante);
  transform: scale(1.1);
}
.description {
  color: var(--color-texto);
  font-family: var(--fuente-Oswald);
  font-size: 1.2em;
}
.text-date {
  color: var(--color-texto);
}
.border-top-10{
  border-radius: 10px 10px 0 0;
}
.bg-gradient{
  background: linear-gradient(
    0deg,    
    var(--color-darkgray) 40%,
    rgba(0, 0, 0, 1) 100%
  );
}
.presentacion-img {
  border: 1px solid var(--color-secundario);
  border-radius: 100%;
  height: 500px;
  margin-bottom: 4em;
  width: 500px;
}
#upButton{
  position: fixed;
  border-radius: 5px;
  bottom: 1.5%;
  z-index: 100;
  left:97vw;
  box-shadow: 0px 0px 4px --color-verde-claro();
}
.bg-presentacion {
  background-attachment: fixed;
  background-image: url(./assets/backgrounds/fondo-presentacion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(100%);
}
.bg-chocolate {
  color: #4b3621;
}
.bg-ficha {
  background-attachment: fixed;
  background-image: url(./assets/backgrounds/fondo-ficha.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: none;
  filter: brightness(100%);
  /* border-radius: 0 0 20px 20px; */
}

#border-verde {
  border: 1px solid var(--color-hover) !important;
  border-bottom: 0 !important;
}
.text-white-p {
  color: var(--color-white) !important;
  text-shadow: 2px 2px 2px var(--color-chocolate);
}
.bg-white-p {
  background-color: var(--color-white) !important;
}
#border-verde-presentacion {
  border: 1px solid var(--color-hover) !important;
}

.producto-imagen {
  border-radius: 20px;
  transition: all 0.5s ease;
  width: 28vw;
}

.producto-imagen:hover {
  cursor: pointer;
  filter: drop-shadow(6px 6px 10px var(--color-secundario));
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.social-media {
  font-size: 3em;
  transition: all 0.5s ease;
}

.fa-brands:hover {
  color: var(--color-hover);
  filter: drop-shadow(6px 6px 10px var(--color-secundario));
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.fa-brands {
  transition: all 0.5s ease;
}

.drop-shadow {
  filter: drop-shadow(5px 5px 3px black);
  transition: all 0.5s ease;
}

.drop-shadow:hover {
  filter: drop-shadow(6px 6px 10px var(--color-hover));
  transition: all 0.5s ease;
}

.animacion-img {
  animation: color-img 10s infinite;
  filter: drop-shadow(6px 6px 10px var(--color-hover));
}

@keyframes color-img {
  0% {
    filter: drop-shadow(8px 8px 15px var(--color-hover));
  }

  25% {
    filter: drop-shadow(6px 6px 10px var(--color-secundario));
  }

  50% {
    filter: drop-shadow(6px 6px 10px var(--color-white));
  }

  75% {
    filter: drop-shadow(6px 6px 10px var(--color-secundario));
  }

  100% {
    filter: drop-shadow(8px 8px 15px var(--color-hover));
  }
}

.text-oswald {
  font-family: var(--fuente-Oswald);
}

.text-black {
  font-family: var(--fuente-Black);
}

.t-black {
  bottom: 3px;
  height: 0;
  position: relative;
  transform: rotate(180deg);
  width: 0;
  z-index: 1;
}

.t-black-i {
  bottom: 87px;
  height: 0;
  position: relative;
  width: 0;
  z-index: 1;
}

.ficha-tecnica {
  background: black;
  font-family: var(--fuente-Black);
}

.ficha-tecnica p {
  font-size: 1.33em;
}

.ficha-tecnica h1 {
  font-size: 2.5em;
}

.ficha-tecnica h3 {
  font-size: 1.75em;
}

.ficha-card {
  font-family: var(--fuente-Black);
}

.border-top-15 {
  border-color: unset !important;
  border-radius: 20px 20px 0 0;
}

.ficha-tecnica-first {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 40%, rgb(47, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a7a7a", endColorstr="#1e5155", GradientType=1);
  font-family: var(--fuente-Black);
}

.alianza-estrategica {
  animation: text-anim-left 2s 1;
  font-family: var(--fuente-Black);
  font-size: 1.66em;
  font-weight: 300;
}

.alianza-estrategica h1 {
  font-size: 2.4em;
}

.alianza-estrategica h3 {
  font-size: 2em;
}

.text-normal {
  color: var(--color-white);
  font-family: var(--fuente-Black);
  font-size: 1.9em;
  text-shadow: 2px 2px 1px black;
}

.text-usos {
  color: var(--color-white);
  font-family: var(--fuente-Black);
  font-size: 1.5em;
}

.titulo {
  color: var(--color-verde-pastel);
  font-family: var(--fuente-Black);
  font-size: 3.5em;
  text-transform: uppercase;
}

.ecopav {
  color: var(--color-white);
  font-family: var(--fuente-Black);
  font-size: 5em;
}

.titulo-paveco {
  animation: text-anim-left 1s 1;
  color: var(--color-white);
  font-family: var(--fuente-Black);
  text-shadow: 2px 2px 1px black;
}

.animation-p {
  animation: escribir 0s 1;
}

.navbar-gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(47, 255, 0, 1) 100%
  );
}

.i-tabla {
  width: 80%;
}

.c-banner {
  filter: brightness(60%);
  height: calc(100vh - 85px);
  object-fit: cover;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: relative;
  width: 100%;
}

.alianza-img {
  border: 1px solid var(--color-secundario);
  border-radius: 100%;
  box-shadow: 1px 1px -1px var(--color-secundario);
  height: 500px;
  margin-left: 5em;
  margin-top: 2em;
  width: 500px;
}

.noticia-card {
  background: black;
  border-bottom: 1px solid var(--color-hover);
  border-radius: 20px;
  font-family: var(--fuente-Black);
  transition: all 0.5s ease;
}

.noticia-card h1 {
  font-size: 3.3em;
  font-weight: 700;
}

.noticia-card h3 {
  font-size: 1.4em;
  font-weight: 300;
}

.noticias-first {
  background-color: var(--color-verde-medio);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a7a7a", endColorstr="#1e5155", GradientType=1);
}
.h3-beneficios{
  font-size: 1.5rem!important;
}
.noticia-image {
  border: 1px solid var(--color-secundario);
  border-radius: 5px 5px 5px 5px;
  filter: brightness(100%);
  height: 550px;
  margin: 20px 0 0 0;
  object-fit: cover;
  position: relative;
  width: 100%;
}
@keyframes cambioFondo {
  0% { background-image: url(./assets/carousel/1.jpg); }
  25% { background-image: url(./assets/carousel/2.jpg); }
  50% { background-image: url(./assets/carousel/3.jpg); }
  75% { background-image: url(./assets/carousel/2.jpg); }
  100% { background-image: url(./assets/carousel/1.jpg); }
}


.first-background {
  position: relative;
  width: 100%;
  height: calc(100vh);
}

.background-image {
  position: absolute;
  animation: cambioFondo 20s infinite;
  transition:ease-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/carousel/1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  z-index: -1;
}

.text-background {
  isolation: isolate;
}

.b-card {
  background-color: black ;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 15px;
  cursor: pointer;
  width: 35em;
  padding: 1.2em;
  position: relative;
  text-shadow: 2px 2px 1px black;
  transition: all 0.5s ease;
  align-items: center;
}

.usos-c {
  position: relative;
  transition: all 1s ease;
}
.bg-green {
  background-color: var(--color-verde-oscuro);
}
.b-card:before {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  color: var(--color-white);
  content: "";
  filter: blur(3px) brightness(30%);
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.02);
  transition: all 0.5s ease;
  width: 100%;
}

.b-text {
  position: relative;
}

b-icon {
  text-shadow: 6px 6px 3px rgb(45, 45, 45);
}

.b-card:hover {
  box-shadow: 4px 4px 3px var(--color-darkgray);
  text-shadow: 2px 2px 1px black;
  transform: scale(1.01);
  transition: all 0.5s ease;
}

.b-card h2 {
  color: var(--color-white);
  font-family: var(--fuente-Black);
  font-size: 1.5em;
}

.b-animacion {
  animation: b-inside 2s 1;
}

@keyframes b-inside {
  0% {
    background-color: black;
    border: none;
    box-shadow: 4px 4px 35px var(--color-principal);
    margin-top: 35%;
  }

  100% {
  }
}
.bg-gray {
  background-color: var(--color-darkgray);
}
.banner {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 40%,
    var(--color-darkgray) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a7a7a", endColorstr="#1e5155", GradientType=1);
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}
.view {
  scroll-snap-align: start;
}
.home{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.text-on-image {
  color: var(--color-white);
  left: 20%;
  position: absolute;
  top: 33%;
  transform: translate(-50%, -50%);
}

.text-anim-right {
  animation: text-anim-right 1s forwards;
}

.text-anim-right-2 {
  animation: text-anim-right-2 1s forwards;
}

.text-anim-left {
  animation: text-anim-left 1s forwards;
}

.text-anim-top {
  animation: text-anim-top 1s forwards;
}

.text-anim-bot {
  animation: text-anim-bot 1s forwards;
}

@keyframes escribir {
  0% {
    color: transparent;
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

@keyframes text-anim-right {
  0% {
    filter: invert();
    transform: translateX(75%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes text-anim-right-2 {
  0% {
    transform: translateX(75%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes text-anim-left {
  0% {
    transform: translateX(-75%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes text-anim-top {
  0% {
    transform: translateY(-75%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes text-anim-bot {
  0% {
    transform: translateY(75%);
  }

  100% {
    transform: translateY(0%);
  }
}

.text-on-image h1 {
  font-size: 5.85em;
}
.bg-blur{
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}
.navbar {
  color: var(--color-white);
  font-family: var(--fuente-Black);
  font-size: 1em !important;
  word-wrap: normal;
}

.form-consulta {
  background-color: black;
  border-radius: 20px;
  color: var(--color-white);
  font-family: var(--fuente-Black);
  font-weight: 700;
  margin-bottom: 20px;
  padding: 40px;
  transition: all 0.5s ease;
}

.form-consulta input,
.form-consulta textarea {
  transition: all 0.5s ease;
}

.form-consulta input:focus,
.form-consulta textarea:focus {
  filter: drop-shadow(1px 1px 2px var(--color-hover));
  outline: none;
  transition: all 0.5s ease;
}

.btn-contacto {
  background-color: var(--color-secundario);
  border-radius: 25px;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  padding: 8px 25px 8px 25px;
  transition: all 0.5s ease;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.548);
}

.btn-enviar {
  background-color: var(--color-secundario);
  border-radius: 7px;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  padding: 8px 25px 8px 25px;
  transition: all 0.5s ease;
  width: 100%;
}

.btn-contacto:hover {
  box-shadow: 0px 0px 10px var(--color-secundario);
  transition: all 0.5s ease-out;
  text-shadow: none!important;
  border-radius: 10px;
  border: 1px solid var(--color-hover);
}

.nav-link {
  color: var(--color-white);
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 0.9rem;
}

.nav-link:hover {
  color: var(--color-hover);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.contacto {
  background-color: black;
}

.text-shadow {
  text-shadow: 3px 3px 2px black;
}

.box-shadow {
  box-shadow: 3px 3px 2px black;
}

@media screen and (max-width: 600px) {
  .text-on-image {
    left: 50%;
    top: 50%;
  }
}

@media only screen and (min-width: 350px) {
  .navbar-icon {
    display: none;
  }

  .text-on-image {
    color: var(--color-white);
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .alianza-estrategica {
    font-size: 1.3em;
  }

  .social-media {
    font-size: 2.5em;
  }

  .footer-text {
    font-size: 0.6em;
  }

  .usos-c {
    backdrop-filter: blur(15px) sepia(75%);
    background-image: unset;
    cursor: pointer;
    position: relative;
    transition: all 1s ease;
  }
  .usos-t {
    position: relative;
    font-size: 1.3rem;
  }

}

@media only screen and (min-width: 275px) {
  .navbar-icon {
    display: none;
  }

  #navbar-links {
    flex-direction: column !important;
    font-size: 10px;
    padding: 0 0 0 0 !important;
  }

  .btn-contacto {
    border-radius: 15px;
    font-size: 10px;
    padding: 8px;
  }

  .text-on-image {
    color: var(--color-white);
    font-size: 0.5em;
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 0.8em;
    }

    h3 {
      font-size: 0.6em;
    }
  }

  .alianza-estrategica {
    font-size: 1.3em;
  }

  .presentacion-img {
    border: 1px solid var(--color-secundario);
    border-radius: 100%;
    height: 300px;
    margin-bottom: 4em;
    width: 300px;
  }

  .alianza-img {
    border: 1px solid var(--color-secundario);
    border-radius: 100%;
    box-shadow: 1px 1px -1px var(--color-secundario);
    height: 300px;
    margin-left: 5em;
    margin-top: 2em;
    width: 300px;
  }
}

@media only screen and (min-width: 400px) {

  .navbar-icon {
    display: none;
  }
  .i-tabla{
    display: none;
  }
  .i-tabla-mobile{
    display: unset;
    width: 90vw;
  }
  .social-media{
    font-size: 1.5em;
    padding-top:0.2em ;
  }
  .footer-text{
    font-size: 0.35em;
  }
  #navbar-links {
    flex-direction: row !important;
    font-size: 10px;
    padding: 0 0 0 0 !important;
  }

  .btn-contacto {
    border-radius: 15px;
    font-size: 10px;
    padding: 8px;
  }

  .text-on-image {
    color: var(--color-white);
    font-size: 0.8em;
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -100%);
  }

  .text-on-image {
    h1 {
      font-size: 5em;
    }

    h3 {
      font-size: 2em;
    }
  }

  .alianza-estrategica {
    font-size: 1.3em;
  }

  .presentacion-img {
    border: 1px solid var(--color-secundario);
    border-radius: 100%;
    height: 300px;
    margin-bottom: 4em;
    width: 300px;
  }

  .alianza-img {
    border: 1px solid var(--color-secundario);
    border-radius: 100%;
    box-shadow: 1px 1px -1px var(--color-secundario);
    height: 300px;
    margin-left: 5em;
    margin-top: 2em;
    width: 300px;
  }
  .b-card{
    font-size: 1.15em;
    height: 35vh;
    width: 100%;
  }
  .fa-circle-check{
    color:var(--color-verde-brillante);
    font-size: 50px;
  }
  #upButton{
    left:90vw;
  }
  .b-carousel{
    display: none;
  }
  .b-carousel-md{
    position: relative;
  }
  .nav-lg-item{
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav-lg-item{
    display: none;
  }

  #upButton{
    left:96vw;
  }
  .b-carousel{
    display: block;
  }
  .b-carousel-md{
    display: none;
  }
  .btn-contacto {
    background-color: var(--color-secundario);
    border-radius: 15px;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    transition: all 0.5s ease;
  }
  .fa-circle-check{
    color:var(--color-verde-brillante);
    font-size: 30px!important;
  }
  .i-tabla{
    display: unset;
  }
  .i-tabla-mobile{
    display: none;
  }
  .b-card{
    height: 45vh;
    width: 100%;
  }
  .social-media{
    font-size: 2.5em;
  }
  .footer-text{
    font-size: 0.6em;
  }
  #navbar-links {
    flex-direction: row !important;
    font-size: 1em;
    padding: 0 0 0 0 !important;
  }

  .navbar-icon {
    display: none;
  }

  #navbar-links {
    display: flex;
    flex-direction: row !important;
  }

  .text-on-image {
    color: var(--color-white);
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 8em;
    }

    h3 {
      font-size: 2em;
    }
  }

  .alianza-estrategica {
    font-size: 1.66em;
  }

  .producto-imagen {
    width: 40vw;
  }

  .presentacion-img {
    border: 1px solid var(--color-secundario);
    border-radius: 100%;
    height: 500px;
    margin-bottom: 4em;
    width: 500px;
  }

  .alianza-img {
    border: 1px solid var(--color-secundario);
    border-radius: 100%;
    box-shadow: 1px 1px -1px var(--color-secundario);
    height: 500px;
    margin-left: 5em;
    margin-top: 2em;
    width: 500px;
  }
  .btn-show-nav{
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .nav-lg-item{
    display: flex;
  }
  .btn-show-nav{
    display: none;
  }
  .navbar-icon {
    display: flex;
  }
  .b-card{
    font-size: 1em;
    height: 50vh;
    width: 100%;
  }
  #navbar-links {
    display: flex;
    flex-direction: row !important;
  }
  .fa-circle-check{
    color:var(--color-verde-brillante);
    font-size: 50px!important;
  }
  .producto-imagen {
    width: 26vw;
  }

  table {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 130%;
  }
}

@media only screen and (min-width: 1200px) {
  .text-on-image {
    color: var(--color-white);
    margin-bottom: 1000px;
    padding: 0;
  }

  .t-black {
    border-bottom: 5.5em solid rgb(0, 0, 0);
    border-left: 30vh solid transparent;
    border-right: 30vh solid transparent;
    filter: drop-shadow(1px -1px 1px var(--color-hover));
  }

  .t-black-i {
    border-bottom: 5.5em solid rgb(0, 0, 0);
    border-left: 30vh solid transparent;
    border-right: 30vh solid transparent;
    filter: drop-shadow(1px -1px 1px var(--color-hover));
  }

  .b-card {
    font-size: 1.2em;
  }

  .producto-imagen {
    width: 27vw;
  }

}
