@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');

:root {
  --color-principal: #61CE70;
  --color-hover: #03c27f;
  --color-secundario: #7A7A7A;
  --color-texto: #070731;
  --color-white: rgb(255,255,255);
  --hover-color: #1e5155;
  --fuente-principal: "Roboto", sans-serif;
  --fuente-Oswald: 'Oswald', sans-serif;

}
.text-normal{
  font-family: var(--fuente-Oswald);
  color: var(--color-white);
  text-shadow: 2px 2px 1px black;
}
.titulo-paveco{
  font-family: var(--fuente-Oswald);
  background: linear-gradient(to right, white 50%, var(--color-principal) 50%); background-clip: text; color: white;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.navbar-blur{
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
}
.c-banner{
  background-color: rgba(3, 194, 127, 0.5);
  width: 100%;
  height: 550px;
  object-fit: cover;
  filter:brightness(20%);
  padding-left: 0;
  padding-top: 0px;
  padding-right: 0;
  margin:20px 0 0 0;
  position: relative;
  border-bottom: 1px solid white;
  border-radius: 15px 15px 15px 15px;
}
.b-card{
  background-color: black;
  border-radius: 15px;
  padding: 1.2em;
  box-shadow: 1px 1px 12px var(--color-white);
  align-items: center;
  justify-content: center;
}
.b-card h2{
  font-family: var(--fuente-Oswald);
  font-weight: 300;
  color: var(--color-white);
  font-size: 1.9em;

}
.banner{
  background-color: black;
  /* background: rgb(122,122,122); */
  /* background: -moz-linear-gradient(90deg, rgba(122,122,122,1) 0%, rgba(3,194,127,1) 41%, rgba(30,81,85,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(122,122,122,1) 0%, rgba(3,194,127,1) 41%, rgba(30,81,85,1) 100%);
  background: linear-gradient(90deg, rgba(122,122,122,1) 0%, rgba(3,194,127,1) 41%, rgba(30,81,85,1) 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a7a7a",endColorstr="#1e5155",GradientType=1);
  margin:0;
  padding: 0;

}
.text-on-image {
  position: absolute;
  top: 33%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  margin:0;
  padding: 0;
}
.text-on-image h1{
  font-size: 5.85em;
}
.navbar{
  font-family: var(--fuente-Oswald);
  font-weight: 700;
  color: var(--color-texto);
  font-size: 18px;
}
.form-consulta{
  background-color: black;
  font-family: var(--fuente-Oswald);
  font-weight: 700;
  color: var(--color-white);
  padding: 40px;
  border-radius: 30px;
}
.btn-contacto{
  border-radius:40px;
  color: var(--color-white);
  background-color: var(--color-secundario);
  font-size: 18px;
  font-weight: 700;
  padding: 8px 25px 8px 25px;
}
.btn-enviar{
  width: 100%;
}
.btn-contacto:hover{
  background-color: var(--color-hover);
  color: var(--color-white)
}
.nav-link{
  color: var(--color-texto);
}
.nav-link:hover{
  color: var(--color-hover);
}
.contacto{
  background-color: #03c27f;
}
